.footer {
  display: flex;
  /*justify-content: center;*/
  background-color: #2B2B2B;
  color: grey;
  height: 120px;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.fabs {
  display: flex;
  justify-content: space-evenly;
}

.fab {
  display: flex;
  text-align: center;
  height: 30px;
  width: 30px;
  color: #1EDD88;
  font-size: 30px;
  margin: 10px;
}
